<section class="home">
  <header class="header">
    <div class="header__user">
      <i class="fa-regular fa-user"></i>
      <div class="menu">
        <ul class="list-menu">
          <li class="menu__item">
            <a class="menu___link" routerLink="/auth/login">Cerrar Sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <main class="main">
   <div class="modules">

    <a routerLink="/home/sidebar">
      <div>
        <i class="fa-solid fa-gear"></i>
      </div>
      <h1 class="title">Configuración</h1>
    </a>

     <a routerLink="/home/sidebar">
      <div>
        <i class="fa-solid fa-shield-halved"></i>
      </div>
      <h1 class="title">Seguridad</h1>
    </a>

     <a routerLink="/home/sidebar/gestionar-proyecto/list">
      <div>
        <i class="fa-solid fa-person-chalkboard"></i>
      </div>
      <h1 class="title">Portal del Coordinador</h1>
    </a>

     <a routerLink="/home/sidebar">
      <div>
        <i class="fa-solid fa-graduation-cap"></i>
      </div>
      <h1 class="title">Portal del Alumno</h1>
    </a>

     <a routerLink="/home/sidebar">
      <div>
        <i class="fa-solid fa-book-open-reader"></i>
      </div>
      <h1 class="title">Lider</h1>
    </a>
   </div>
  </main>
</section>
